<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3">Data Siswa</h4>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <br>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NIS</th>
              <th scope="col">Name</th>
              <th scope="col">Class</th>
              <th scope="col">Age</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let student of students, index as i">
            <td [ngStyle]="{color: studentColor(student.age)}">{{i+1}}</td>
            <td [ngStyle]="{color: studentColor(student.age)}">{{student.nis}}</td>
            <td [ngStyle]="{color: studentColor(student.age)}">{{student.name}}</td>
            <td [ngStyle]="{color: studentColor(student.age)}">{{student.class}}</td>
            <td [ngStyle]="{color: studentColor(student.age)}">{{student.age}}</td>
          </tr>
          </tbody>
          <tfoot>
            <tr>
              <th [colSpan]="4" class="text-right">Total Siswa</th>
              <th>{{students.length}}</th>
            </tr>
            <tr>
              <th [colSpan]="4" class="text-right">Rata-rata Umur</th>
              <th>{{avg}}</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
